<!DOCTYPE html>
<html>
<head>
<title>Healthcare Assistant💚</title>

<style>

body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f6f9f7;
font-family:Arial, sans-serif;
}

.container{
text-align:center;
}

/* NEW ICON STYLE */
.splash-icon{
font-size:70px;
margin:auto;
color:#6e9b85;
animation:breathe 2.5s infinite ease-in-out;
}

@keyframes breathe{
0%{transform:scale(1)}
50%{transform:scale(1.15)}
100%{transform:scale(1)}
}

h1{
margin-top:20px;
color:#6e9b85;
}

p{
color:#8c9b92;
}

</style>

<script>
setTimeout(function(){
window.location.href="/dashboard/";
},4000);
</script>

</head>

<body>

<div class="container">

<div class="splash-icon">🩺</div>

<h1 class="app-title">Healthcare Assistant💚</h1>
<p>Your AI Health Assistant</p>

</div>

</body>
</html>